.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.app-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    width: 100%;
    max-width: 700px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #cccccc;
    max-height: 90%;
}
