.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.app-inner-container {
    padding: 32px;
    width: calc(100% - 64px);
    max-width: 900px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #cccccc;
    overflow: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.elections-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    overflow: auto;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.disclaimer-text{
    color: red;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
}

.parties-container:nth-child("even"){
    background: #f8f8f8;
}

article{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

@media (max-width: 920px){

    .app-container{
        background: #ffffff;
    }

    .app-inner-container {
        margin-top: 0;
        margin-bottom: 0;
        box-shadow: none;
    }
}
